{% extends 'base.html.twig' %}

{% block title %}{{ site.name ? 'Modifier' : 'Créer' }} un site{% endblock %}

{% block body %}
    <h1>{{ site.name ? 'Modifier' : 'Créer' }} un site</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button class="btn btn-primary">{{ site.name ? 'Modifier' : 'Créer' }}</button>
    {{ form_end(form) }}
{% endblock %}