{% extends 'base.html.twig' %}

{% block body %}
    <h1>List of all participants !</h1>

{#  TODO: pagination  #}
{#    <div class="flex_div flex_between">#}
{#        {% if currentPage > 1 %}#}
{#            <a href="{{ path('participant_list', {'page': currentPage - 1}) }}">#}
{#                <button>Previous page</button>#}
{#            </a>#}
{#        {% else %}#}
{#            <div></div>#}
{#        {% endif %}#}
{#        {% if currentPage < maxPage %}#}
{#            <a href="{{ path('participant_list', {'page': currentPage + 1}) }}">#}
{#                <button>Next page</button>#}
{#            </a>#}
{#        {% endif %}#}
{#    </div>#}
    <section class="participants-list">
        {% for participant in participants %}
            <article title="{{ participant.firstname }} | {{ participant.lastname }}">
                <p>{{ participant.pseudo }}</p>
                <p>{{ participant.email }}</p>
                <p>{{ participant.phone }}</p>
                <p>{{ participant.site.name }}</p>
                <p>{{ participant.isAdmin.toString() }}</p>
                <a href="{{ path('participant_detail', {'id': participant.id }) }}">
{#          TODO: implement the participant photo uploading          #}
{#                    <img src="{{ asset('images/profile/participants/' ~ participant.photo) }}" alt="{{ serie.name }}">#}
                </a>
            </article>
        {% endfor %}
    </section>
{% endblock %}
