{% extends 'base.html.twig' %}

{% block body %}
	<h1 class="text-center text-3xl font-bold mb-8">List of all participants!</h1>

	<section class="participants-list grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 px-6">
			{% for participant in participants %}
				<article class="bg-white shadow-md rounded-2xl p-6 border border-gray-200 hover:shadow-gray-500">
					<a href="{{ path('participant_detail', {'id': participant.id }) }}" class="m-0 p-0">
						{% if (participant.photo) %}
							<div class="text-center mb-4">
								<img src="{{ path('file_download', { filePath: participant.photo }) }}" alt="{{ participant.pseudo }}" class="w-48 h-48 rounded-full mx-auto border-2 border-cyan-600 object-cover object-top">
							</div>
						{% endif %}
						<h2 class="text-lg font-bold text-gray-800 mb-4 text-center" title="{{ participant.firstname }} | {{ participant.lastname }}">
							{{ participant.firstname }}
							{{ participant.lastname }}
						</h2>
						<ul class="text-gray-600 mb-6 space-y-2">
							<li>
								<span class="font-semibold">Pseudo:</span>
								{{ participant.pseudo }}</li>
							<li>
								<span class="font-semibold">Email:</span>
								{{ participant.email }}</li>
							<li>
								<span class="font-semibold">Phone:</span>
								{{ participant.phone }}</li>
							<li>
								<span class="font-semibold">Site:</span>
								{{ participant.site.name }}</li>
							<li>
								<span class="font-semibold">Admin:</span>
								{{ participant.isAdmin ? 'Yes' : 'No' }}</li>
							<li>
								<span class="font-semibold">Active:</span>
								{{ participant.isActive ? 'Yes' : 'No' }}</li>
						</ul>
						<div class="flex flex-wrap justify-center gap-4">
							<a
									href="{{ path('participant_detail', {'id': participant.id }) }}" class="text-cyan-600 px-4 py-2 rounded-full hover:text-cyan-700 transition items-center gap-2">
								<span class="material-symbols-rounded text-3xl">info</span>
							</a>
							<a
									href="{{ path('participant_edit', {'id': participant.id }) }}" class="text-yellow-500 px-4 py-2 rounded-full hover:text-yellow-600 transition items-center gap-2">
								<span class="material-symbols-rounded text-3xl">edit</span>
							</a>
							<a
									href="{{ path('participant_delete', {'id': participant.id }) }}" class="text-red-500 px-4 py-2 rounded-full hover:text-red-700 transition items-center gap-2">
								<span class="material-symbols-rounded text-3xl">delete</span>
							</a>
							<a
									href="{{ path('participant_disable', {'id': participant.id }) }}" class="text-gray-500 px-4 py-2 rounded-full hover:text-gray-600 transition items-center gap-2">
								<span class="material-symbols-rounded text-3xl">block</span>
							</a>
						</div>
					</a>
				</article>
		{% endfor %}
	</section>
{% endblock %}
