{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin
{% endblock %}

{% block body %}
	<div class="container mx-auto p-6">
		<h1 class="text-3xl font-bold mb-6">Dashboard Administrateur</h1>


		<a href="{{ path('admin_import') }}" class="border-none bg-cyan-600 rounded-full p-4 mb-8 text-white">Importer une liste de participant par fichier .csv</a>

		<div
			class="mt-8 grid grid-cols-1 md:grid-cols-3 gap-6">
			<!-- Carte Participants -->
			<a href="{{ path('participant_list') }}" class="block bg-white shadow-lg rounded-lg p-6 hover:shadow-gray-500">
				<h2 class="text-cyan-600 text-xl font-semibold">Gestion des Participants</h2>
				<p class="text-gray-600">Accédez à la gestion des utilisateurs.</p>
				<img src="{{ asset('images/user_management.jpg') }}" alt="Gestion des participants" class="w-full h-48 object-cover object-center rounded-lg mt-4">
			</a>

			<!-- Carte Villes -->
			<a href="{{ path('city_list') }}" class="block bg-white shadow-lg rounded-lg p-6 hover:shadow-gray-500">
				<h2 class="text-cyan-600 text-xl font-semibold">Gestion des Villes</h2>
				<p class="text-gray-600">Accédez à la gestion des villes.</p>
				<img src="{{ asset('images/city_management.jpg') }}" alt="Gestion des villes" class="w-full h-48 object-cover object-center rounded-lg mt-4">
			</a>

			<!-- Carte Lieux -->
			<a href="{{ path('place_list') }}" class="block bg-white shadow-lg rounded-lg p-6 hover:shadow-gray-500">
				<h2 class="text-cyan-600 text-xl font-semibold">Gestion des Lieux</h2>
				<p class="text-gray-600">Accédez à la gestion des lieux.</p>
				<img src="{{ asset('images/place_management.jpg') }}" alt="Gestion des lieux" class="w-full h-48 object-cover object-center rounded-lg mt-4">
			</a>
		</div>
	</div>
{% endblock %}
