{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ activity.id ? 'Modifier une sortie' : 'Créer une sortie' }}</h1>

    {% if form.vars.errors|length > 0 %}
        <div class="alert alert-danger">
            <ul>
                {% for error in form.vars.errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form.dateStartTime) }}
        {{ form_widget(form.dateStartTime, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.dateStartTime) }}
    </div>

    <div class="form-group">
        {{ form_label(form.registrationDeadLine) }}
        {{ form_widget(form.registrationDeadLine, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.registrationDeadLine) }}
    </div>

    <div class="form-group">
        {{ form_label(form.duration) }}
        {{ form_widget(form.duration, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.duration) }}
    </div>

    <div class="form-group">
        {{ form_label(form.maxRegistration) }}
        {{ form_widget(form.maxRegistration, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.maxRegistration) }}
    </div>

    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.description) }}
    </div>

    <div class="form-group">
        {{ form_label(form.site) }}
        {{ form_widget(form.site, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.site) }}
    </div>

    <div class="form-group">
        {{ form_label(form.place) }}
        {{ form_widget(form.place, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.place) }}
    </div>

    <button type="submit" class="btn btn-primary" name="state" value="1">
        Enregistrer
    </button>

    <button type="submit" class="btn btn-primary" name="state" value="2">
        Publier
    </button>
    <a href="{{ path('activity_list') }}" class="btn btn-secondary">Annuler</a>

    {{ form_end(form) }}
{% endblock %}
