{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}
    <h1 class="text-center my-4">Liste des sorties</h1>

    {{ include('components/activitiesFilter.html.twig') }}

    {% if activities is not empty %}
        <div id="activities" class="row row-cols-1 row-cols-md-3 g-4">
            {% for activity in activities %}
                {% set isUserRegistered = false %}
                {% if app.user %}
                    {% for participant in activity.participants %}
                        {% if participant.id == app.user.id %}
                            {% set isUserRegistered = true %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="col activity-card"
                     data-name="{{ activity.name|lower }}"
                     data-date="{{ activity.dateStartTime|date('Y-m-d') }}"
                     data-site="{{ activity.site.id }}"
                     data-participation="{{ isUserRegistered ? 'participating' : 'not_participating' }}">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ activity.name }}</h5>
                            <p class="card-text">
                                <strong>Date :</strong> {{ activity.dateStartTime|date('d/m/Y H:i') }}<br>
                                <strong>Lieu :</strong> {{ activity.place.name }}<br>
                                <strong>Site :</strong> {{ activity.site.name }}<br>
                                <strong>Organisateur :</strong>
                                {% if activity.manager %}
                                {{ activity.manager.firstname }} {{ activity.manager.lastname }}
                            {% else %}
                                Non défini
                                {% endif %}<br>
                                <strong>Participants :</strong>
                                {{ activity.participants|length }} / {{ activity.maxRegistration }}
                            </p>
                            <a href="{{ path('activity_detail', { id: activity.id }) }}" class="btn btn-primary">Détails</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <p class="text-center">Aucune sortie disponible pour le moment.</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/activityFilter.js') }}"></script>
{% endblock %}

