{% extends 'base.html.twig' %}

{% block title %}{{ place.name ? 'Modifier' : 'Créer' }} un lieu{% endblock %}

{% block body %}
    <h1>{{ place.name ? 'Modifier' : 'Créer' }} un lieu</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_end(form) }}
    <button class="btn btn-primary">{{ place.name ? 'Modifier' : 'Créer' }}</button>
{% endblock %}