{% block body %}
	<div class="container mt-4 mb-8">
		<h1 class="text-3xl text-cyan-600">Filtrer les activités</h1>

		{{ form_start(form, { 'method': 'get' }) }}
		<div class="flex flex-row gap-4">
			<div class="col-md-4">
				{{ form_label(form.site) }}
				{{ form_widget(form.site, { 'attr': { 'class': 'form-control' } }) }}
				{{ form_errors(form.site) }}
			</div>

			<div class="col-md-4">
				{{ form_label(form.search) }}
				{{ form_widget(form.search, { 'attr': { 'class': 'form-control', 'placeholder': 'Rechercher...' } }) }}
				{{ form_errors(form.search) }}
			</div>

			<div class="col-md-4">
				{{ form_label(form.startDate) }}
				{{ form_widget(form.startDate, { 'attr': { 'class': 'form-control' } }) }}
				{{ form_errors(form.startDate) }}
			</div>

			<div class="col-md-4">
				{{ form_label(form.endDate) }}
				{{ form_widget(form.endDate, { 'attr': { 'class': 'form-control' } }) }}
				{{ form_errors(form.endDate) }}
			</div>

			{% if user is not null %}
				<div class="flex flex-col justify-center">
					<div class="form-check flex flex-row gap-2">
						{{ form_widget(form.organizer, { 'attr': { 'class': 'form-check-input' } }) }}
						{{ form_label(form.organizer, null, { 'label_attr': { 'class': 'form-check-label' } }) }}
						{{ form_errors(form.organizer) }}
					</div>
					<div class="form-check flex flex-row gap-2">
						{{ form_widget(form.registered, { 'attr': { 'class': 'form-check-input' } }) }}
						{{ form_label(form.registered, null, { 'label_attr': { 'class': 'form-check-label' } }) }}
						{{ form_errors(form.registered) }}
					</div>

				</div>

				<div class="flex flex-col justify-center">
					<div class="form-check flex flex-row gap-2">
						{{ form_widget(form.notRegistered, { 'attr': { 'class': 'form-check-input' } }) }}
						{{ form_label(form.notRegistered, null, { 'label_attr': { 'class': 'form-check-label' } }) }}
						{{ form_errors(form.notRegistered) }}
					</div>
					<div class="form-check flex flex-row gap-2">
						{{ form_widget(form.past, { 'attr': { 'class': 'form-check-input' } }) }}
						{{ form_label(form.past, null, { 'label_attr': { 'class': 'form-check-label' } }) }}
						{{ form_errors(form.past) }}
					</div>
				</div>
			{% endif %}
			<button type="submit" class="border-none">
				<span class="material-symbols-rounded text-5xl text-cyan-600">search</span>
			</button>
			<button type="reset" class="text-cyan-600 px-6 py-2 hover:text-cyan-700 transition self-center" onclick="window.location.href='{{ path('activity_list') }}'">
				Réinitialiser les filtres
			</button>
		</div>

		<hr
		class="mt-4 h-[0.1rem] border-0 bg-gradient-to-r from-transparent via-cyan-600/75 to-transparent">


	{#        {{ form_end(form) }} #}
	</div>
{% endblock %}
