<div>
	<table>
		<thead>
			<tr>
				<th>Nom de la sortie</th>
				<th>Date de la sortie</th>
				<th>Clôture</th>
				<th>Inscrits/Places</th>
				<th>État</th>
				<th>Inscrit</th>
				<th>Organisateur</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for activity in activities %}
				<tr>
					<td>{{ activity.name }}</td>
					<td>{{ activity.dateStartTime|date('d/m/Y H:i') }}</td>
					<td>{{ activity.registrationDeadLine|date('d/m/Y H:i') }}</td>
					<td>{{ activity.inscrits }}
						/
						{{ activity.maxRegistration }}</td>
					<td>{{ activity.state }}</td>
					<td>{{ activity.incrit ? 'X' : ' ' }}</td>
					<td>{{ activity.organisateur }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">Aucune activité trouvée.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
